{% extends 'index.html' %} {% block script %}
<script>
    $(document).ready(function() {
        $("#exampleModal").modal("show")
        show_update();
    });

    function show_update() {
        $.ajax({
            type: "GET",
            url: "/targetupdate",
            data: {},
            success: function(response) {
                $('#target-update').show();
                let rows = response['targets_update'];
                for (let i = 0; i < rows.length; i++) {
                    let target = rows[i]['target'];
                    let date = rows[i]['date'];
                    let num = rows[i]['num'];

                    let temp_html = `
                    {% block modal %}
                        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Year's Resolution</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('target_show') }}">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">New Year's Target :</label>
                                                <input type="text" class="form-control" name="target">
                                                
                                            </div>
                                            <div class="form-group">
                                                
                                                <label for="message-text" class="col-form-label">Date :</label>
                                                <textarea class="form-control" name="date"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{url_for('home')}}" class="btn btn-secondary">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        {% endblock %}              
                        `;
                    $('#target-update').append(temp_html);
                }
            }
        });
    }

    function save_update() {
        let target = $('#resolutionInput').val()
        let date = $('#targetDateInput').val()
        $.ajax({
            type: "POST",
            url: "/saveupdate",
            data: {
                target_give: target,
                date_give: date
            },
            success: function(response) {
                alert(response["msg"])
                    // show_target();
                window.location.reload()
            }
        });
    }
</script>
{% endblock %}